<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Practise.Listeners" />
		<listener class-name="Practise.ExtentReporterNG"/>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Practise.HomePage" />
		</classes>
	</test>
	<test name="validteTitle">
		<classes>
			<class name="Practise.ValidateTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
